@charset "utf-8";

/* ================================================== */

@font-face {
  font-family: 'YuGothic';
  src: url('../font/YuGothL.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'YuGothic';
  src: url('../font/YuGothR.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'YuGothic';
  src: url('../font/YuGothM.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'YuGothic';
  src: url('../font/YuGothB.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

/* ================================================== */

html, body{
  width: 100%;

  margin: 0;
  padding: 0;
}

html{
  font-size: 10px;
  font-family: "YuGothic", sans-serif;

  touch-action: manipulation;

  background-color: var(--background5);
}

*{
  font-family: "YuGothic", sans-serif;
}

body{
  display: flex;
  flex-direction: row;
}

body>#main{
  display: block;
  width: 375px;
  height: auto;

  margin: 0 auto auto 10%;
  padding: 4rem 0;

  background-color: var(--background1);
}

/* ================================================== */

body>#btnBox{
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  gap: 1rem;
  height: 250px;
  width: 150px;

  margin: auto auto auto 0;
  padding: 0;
}

#btnBox>button{
  display: block;
  width: 100%;
  height: 100%;

  margin: 0;
  padding: 0;

  border: solid 0px var(--text2);
  border-radius: 1rem;
  background-color: var(--background2);

  color: var(--text1);
  font-weight: 700;
  font-size: 1.5rem;

  text-align: center;
  letter-spacing: 1px;
  text-decoration: none;
}

/* ================================================== */

h1{
  display: inline-block;
  width: 80%;

  margin: 1rem 10% 1rem 10%;
  padding: 0;

  color: var(--accent1);
  font-weight: 500;
  font-size: 2rem;

  text-align: left;
  line-height: 3rem;
  letter-spacing: 0;
  text-decoration: none;
}

h1>span{
  display: inline;
  width: 100%;

  margin: 0 1rem;
  padding: 0;

  color: var(--accent1);
  font-weight: 400;
  font-size: 1rem;

  text-align: left;
  line-height: 3rem;
  letter-spacing: 0;
  text-decoration: none;
}

p{
  display: inline-block;
  width: 80%;
  height: auto;

  margin: 0 10%;
  padding: 0;

  color: var(--text1);
  font-weight: 500;
  font-size: 1.2rem;

  text-align: justify;
  line-height: 1.5rem;
  letter-spacing: 0.5px;
  text-decoration: none;
}

/* ================================================== */

a#about{
  display: block;
  width: calc(40% - 1rem);
  height: 2.5rem;

  margin: 1rem auto;
  padding: 0rem 0.5rem;

  background-color: var(--accent2);
  border-radius: 1.25rem;

  color: var(--background1);
  font-weight: 500;
  font-size: 1.2rem;

  text-align: center;
  line-height: 2.5rem;
  letter-spacing: 0;
  text-decoration: none;
}

/* ================================================== */

#colorModel{
  position: relative;

  display: flex;
  flex-direction: row;
  width: 80%;
  height: 25rem;

  margin: 1rem auto;
  padding: 0;
}

#colorCold, #colorWarm{
  display: block;
  width: 50%;
  height: auto;

  margin: 0;
  padding: 0;
}

#colorCold{
  border-right: var(--colorModelSeparate) 3px dotted;
}

#colorCold h3{
  display: block;
  width: 100%;
  height: 2.5rem;

  margin: 0;
  padding: 0;

  color: var(--colorModelCold);
  font-weight: 700;
  font-size: 2rem;

  text-align: left;
  line-height: 2.5rem;
  letter-spacing: 0;
  text-decoration: none;
}

#colorWarm h3{
  display: block;
  width: 100%;
  height: 2.5rem;

  margin: 0;
  padding: 0;

  color: var(--colorModelWarm);
  font-weight: 700;
  font-size: 2rem;

  text-align: right;
  line-height: 2.5rem;
  letter-spacing: 0;
  text-decoration: none;
}

#colorModel span{
  position: absolute;
  top: calc(50% - 1.75rem);;
  left: calc(50% - 1.75rem);

  display: block;
  width: 3.5rem;
  height: 3.5rem;

  margin: 0;
  padding: 0;

  border-radius: 50%;
  border: none;
}

#colorCold span, #colorWarm span{
  transform-origin: center center;
}

#color1{
  background-color: var(--colorModel1);
  transform: rotate(-108deg) translate(7.5rem);
}

#color2{
  background-color: var(--colorModel2);
  transform: rotate(-144deg) translate(7.5rem);
}

#color3{
  background-color: var(--colorModel3);
  transform: rotate(-180deg) translate(7.5rem);
}

#color4{
  background-color: var(--colorModel4);
  transform: rotate(144deg) translate(7.5rem);
}

#color5{
  background-color: var(--colorModel5);
  transform: rotate(108deg) translate(7.5rem);
}

#color6{
  background-color: var(--colorModel6);
  transform: rotate(72deg) translate(7.5rem);
}

#color7{
  background-color: var(--colorModel7);
  transform: rotate(36deg) translate(7.5rem);
}

#color8{
  background-color: var(--colorModel8);
  transform: rotate(0deg) translate(7.5rem);
}

#color9{
  background-color: var(--colorModel9);
  transform: rotate(-36deg) translate(7.5rem);
}

#color10{
  background-color: var(--colorModel10);
  transform: rotate(-72deg) translate(7.5rem);
}

/* ================================================== */

#difficultyEx{
  display: grid;
  grid-template:
    "span1 span2" 1fr
    "span3 span4" 1fr
    "text text" 2rem
    / 1fr 1fr;
  gap: 1rem 2rem;

  width: 80%;
  height: auto;

  margin: 0 auto;
  padding: 0;
}

#difficultyEx span{
  display: block;
  width: 100%;
  height: 4rem;

  margin: auto;
  padding: 0;

  font-weight: 700;
  font-size: 2rem;

  text-align: center;
  line-height: 4rem;
  letter-spacing: 0;
  text-decoration: none;
}

#difficultyEx span:nth-of-type(1){
  background-color: var(--difficultyEx1B);
  color: var(--difficultyEx1);
}

#difficultyEx span:nth-of-type(2){
  background-color: var(--difficultyEx2B);
  color: var(--difficultyEx2);
}

#difficultyEx span:nth-of-type(3){
  background-color: var(--difficultyEx3B);
  color: var(--difficultyEx3);
}

#difficultyEx span:nth-of-type(4){
  background-color: var(--difficultyEx4B);
  color: var(--difficultyEx4);
}

#difficultyEx p{
  grid-area: text;

  display: block;
  width: 100%;
  height: 2rem;

  margin: auto;
  padding: 0;

  font-weight: 500;
  font-size: 1.2rem;

  text-align: center;
  line-height: 2rem;
  letter-spacing: 0;
  text-decoration: none;
}

/* ================================================== */
/* ================================================== */

#colourWindow{
  position: fixed;
  left: -10rem;
  bottom: 8rem;

  display: block;
  width: 10rem;
  height: 20rem;

  margin: 0;
  padding: 0;

  border: none;
  border-radius: 0 1.5rem 1.5rem 0;
  background-color: var(--background2);

  transition: all .3s;

  overflow: hidden;
}
#colourWindow.active{
  left: 0;
}

#colourWindow>ul{
  display: grid;
  grid-template-rows: repeat(4, 1fr);
}

#colourWindow>ul>li{
  display: block;
  width: 100%;
  height: 100%;

  margin: 0;
  padding: 0;

  background-color: var(--background2);

  color: var(--text1);
  font-weight: 500;
  font-size: 1.5rem;

  text-align: center;
  line-height: calc(20rem / 4);
  letter-spacing: 0;
  text-decoration: none;

  transition: all .1s;
}

#colourWindow>ul>li.selected{
  background-color: var(--background5);
}

#colourWindowToggle{
  position: fixed;
  left: 2rem;
  bottom: 2rem;

  display: block;
  width: 4rem;
  height: 4rem;

  margin: 0;
  padding: 0;

  border: none;
  border-radius: 50%;
  background-color: var(--accent1);
}